all:
  children:
    control_plane:
      hosts:
%{ for idx, ip in control_plane_ips ~}
        k3s-cp-${idx + 1}:
          ansible_host: ${ip}
%{ endfor ~}
    workers:
      hosts:
%{ for idx, ip in worker_ips ~}
        k3s-worker-${idx + 1}:
          ansible_host: ${ip}
%{ endfor ~}
  vars:
    ansible_user: ubuntu
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519